.about{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("https://i.ibb.co/9VF45Mh/subback.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}