
.headerback{
    
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://i.ibb.co/VQS22hd/back-4.jpg")
}
