
.headerback{
    width: 100vw;
    height: 80vh;
    background-position: right;
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-image: url("https://th.bing.com/th/id/OIP.aOHtAUiB0wdSc36g4CpS7gHaE8?pid=ImgDet&rs=1");

}
